@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    background-color: rgb(0, 0, 0);
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 16px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 16px;
    word-break: normal;
}

.tg .tg-tizx {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: #fff;
    text-align: left;
    vertical-align: center;
    font-weight: 300;

}

#sizeAdjusTitle {
    font-size: 18px;
    font-weight: bold
}

#contTable {
    overflow: auto;
    width: 100%;

}

tr {
    border-bottom: solid 1.1px rgba(255, 255, 255, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
}